:root {

    /*========================~ MAIN ~========================*/

    --Title:'Doby Encryptor 7007 🐶';

    --MainColor: #c37a4b;
    --MainTextColor: #f4b48b;
    
    --heathers: rgba(255, 255, 255, 0.5);
    --PasswordButtons:var(--MainColor);
    --autoMode-text: var(--MainColor);
    --BorderColor: #555555;

    --BackgroundImg:url('../background/gang.jpg');

    /*=====================~ SECONDARY ~======================*/

    --BackgroundColor:rgba(19, 20, 26, 0.88);
    --ResultBgColor: rgba(51,51,51, 0.3);
    --ResultBorderColor: var(--BorderColor);
    --textarea-bg: transparent;
    --Password-bg: var(--textarea-bg);
    --hoverColor: rgba(102,102,102, 0.5);
    --ScrollbarColor: rgba(102,102,102, 1.0);
    --ContainerBg:rgba(38,38,38, 0.6);

    --EncDecButton:var(--MainColor);
    --EncDecButton-bgColor: rgba(68,68,68, 0.6); /*#444444*/
    --EncDecButton-hover: var(--hoverColor);
    --EncDecButton-text-hover: var(--MainColor);

    /*======================~ EXTRA /!\ ~=====================*/

    --extraColor:var(--MainTextColor);
    --extraBorderColor:var(--BorderColor);
    --autoMode-tick: var(--BorderColor);
    --autoMode-chk-bg: var(--MainColor);
    --autoMode-border: var(--BorderColor);
    --autoMode-bgColor: var(--EncDecButton-bgColor);
    --copyButton-hoverColor:var(--MainColor);

    --HeatherPassword: var(--MainTextColor);
    --HeatherInput: var(--MainTextColor);
    --HeatherResult: var(--MainTextColor);

}html {background-image: var(--BackgroundImg)}