.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

iframe {
  width: 100%;
  height: calc(100vh - 31px); /*35*/
  border: none;
  position: relative;
  z-index: 1;
}

a { text-decoration: none; }

.accordion {
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  z-index: 2;
}
.accordion:hover {
  background-color: #ddd;
}
/*
.active {
  background-color: #A4A4A4;
}
*/
.panel {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  /*
  border: 5px solid pink;
  background-color: lightblue;
  opacity: 90%;
  transition-duration: 0.2s;
  */
  height: 45pw;
  border-top: 3px solid gray;
}
.panel:hover {
  opacity: 100%;
  transition-duration: 0.2s;
}
#panel-chiquito {
  width: 110px;
  border-bottom: 3px solid gray;
}
#panel-button button {
  display: block;
  cursor: pointer;
  padding: 5px;
  width: 140px;
  background-color: #e0e4e6;
  text-align: left;
  font-size: 15px;
  transition-duration: 0.2s;
  border: 1px solid gray;
  border-left: 4px solid gray;
}
#panel-button button:hover {
  background-color: #c8ccce;
  color: 303841;
  border: 1px solid white;
  transition-duration: 0.1s;
}
#panel-button {
  border-bottom: 4px solid gray;
}
#panel-chiquito button {
  display: block;
  cursor: pointer;
  padding: 4px;
  width: 110px;
  background-color: #BBD8E5;
  border: 2px solid gray;
  border-left: 4px solid gray;
  border-top: 1px;
  text-align: left;
  font-size: 15px;
  transition-duration: 0.2s;
}
#panel-chiquito button:hover {
  background-color: #A5C0CD;
  border: 2px solid white;
  transition-duration: 0.1s;
}
#music-ext-window {
  width: 20px !important;
  height: 20px !important;
  transform: translate(105px, -24px);
  position: fixed;
  text-align: center;
  font-weight: normal;
  background-color: transparent;
  font-size: 70% !important;
}

@keyframes color-change {
   0% { color: red; }
  14% { color: orange; }
  29% { color: yellow; }
  43% { color: lime; }
  57% { color: blue; }
  71% { color: hotpink; }
  86% { color: lightblue; }
 100% { color: red; }
}
@keyframes bg-color-change {
   0% { background-color: red; }
  14% { background-color: orange; }
  29% { background-color: yellow; }
  43% { background-color: lime; }
  57% { background-color: blue; }
  71% { background-color: hotpink; }
  86% { background-color: lightblue; }
 100% { background-color: red; }
}

#milisecs {
  color: black;
  font-size: 30%; /*60*/
  transition: 1s;
}
#MinToMils:hover #milisecs {
  font-size: 90%;
  color: yellow;
}

#alltools-button:hover #thumbsup {
  transform: translateY(25px);
  opacity: 100%;
}

#thumbsup {

  position: fixed;
  left: 0vw;
  width: 90px;
  transition: 0.3s;
  transform: translateY(-44px); /*-44 -88*/
  z-index: -1;
}



/*
#alltools-button:hover #thumbsup {
  left: 0vw;
}

#thumbsup {
  position: fixed;
  top: -7vw;
  width: 5%;
  transition: 0.3s;
  transform: translateY(25px);
}
*/